<mat-card>
    <form #ng="ngForm" (ngSubmit)="submitnew(ng)">

        <mat-form-field>
            <input type="text" placeholder="Name" required ngModel name="name">
            <!-- <mat-error>Name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <textarea type="text" placeholder="Description" required ngModel name="description"></textarea>
            <mat-error>Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" placeholder="Name" required ngModel name="name">
            <!-- <mat-error>Name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input type="text" placeholder="Board id" required ngModel name="boardid">
            <!-- <mat-error>Board ID is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input type="number" placeholder="Grade" required ngModel name="grade">
            <!-- <mat-error>Grade is required</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input type="number" placeholder="Worksheet" required ngModel name="worksheet">
            <!-- <mat-error>Worksheet is required</mat-error> -->
        </mat-form-field>
        <input type="file" (input) = "getfile($event.target.files[0])" ngModel required name="file">

    
    </form>
    
</mat-card>