
<div class="jumbotron">
    <h1 style="text-align: center;">ABOUT US</h1>
</div>
<div id="about" class="container-fluid">
    <div class="row">
      
        <h4 style="text-align: center; padding: 30px;">We started in 2012 by opening a school for children from low-income communities in Mumbai. Our experience in running the school led us to understand the value that high quality teaching brings to a child's learning in school. </h4><br>
        <p style="text-align: center; padding: 30px;">The urgency for having more confident and empowered educators across schools led us to build customized programs for our teachers.</p>
        <br>
      
    </div>
  </div>
  <div class="jumbotron">
      <h1 style="text-align: center;"> WHO WE ARE </h1>
      <p style="text-align: center;"> We are a young, energetic, curious, innovative team that cares deeply about the state of education in India. </p>
  </div>