<<<<<<< HEAD
.navbar{
    background-color:black;
    color:white;
    position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   text-align:center;
}

#footer-area{
    background-color:black;
    color:white;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align:center;
}
=======



>>>>>>> 2f6e173737183d45879c1ca9e12cd2e0d299c18e
* {
    box-sizing: border-box;
  }
/* Float four columns side by side */
.column {
float: left;
width: 50%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
width: 100%;
display: block;
margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}