   
      <h2 class="text-center font-weight-bold mt-5">Central Board of Secondary Education</h2>
      <h5 class="text-center">Main menu</h5>
      <div class="container-fluid">
      <p>Choose your Grade & Subject</p>
      
      <div class="row">
        <div class="column">
          <div class="card">
            <h3>GRADE 1</h3>
            <div class="card-body">
            <button (click)="filter(1,'english')" type="button" class="btn btn-light" >English</button>
            <button (click)="filter(1,'maths')" type="button" class="btn btn-light" >Maths</button>
            <button (click)="filter(1,'evs')" type="button" class="btn btn-light" >EVS</button>
            </div>
          </div>
        </div>
        

        <div class="column">
          <div class="card">
            <h3>GRADE 2</h3>
            <div class="card-body">
            <button (click)="filter(2,'english')" type="button" class="btn btn-light">English</button>
            <button (click)="filter(2,'maths')" type="button" class="btn btn-light">Maths</button>
            <button (click)="filter(2,'evs')" type="button" class="btn btn-light">EVS</button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>GRADE 3</h3>
            <div class="card-body">
            <button (click)="filter(3,'english')" type="button" class="btn btn-light">English</button>
            <button (click)="filter(3,'maths')" type="button" class="btn btn-light">Maths</button>
            <button (click)="filter(3,'evs')" type="button" class="btn btn-light">EVS</button>
            </div>
          </div>

      </div>
      <div class="column">
        <div class="card">
          <h3>GRADE 4</h3>
          <div class="card-body">
          <button (click)="filter(4,'english')" type="button" class="btn btn-light">English</button>
          <button (click)="filter(4,'maths')" type="button" class="btn btn-light">Maths</button>
          <button (click)="filter(4,'evs')" type="button" class="btn btn-light">EVS</button>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <h3>GRADE 5</h3>
            <div class="card-body">
            <button (click)="filter(5,'english')" type="button" class="btn btn-light">English</button>
            <button (click)="filter(5,'maths')" type="button" class="btn btn-light">Maths</button>
            <button (click)="filter(5,'evs')" type="button" class="btn btn-light">EVS</button>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>GRADE 6</h3>
            <div class="card-body">
            <button (click)="filter(6,'english')" type="button" class="btn btn-light">English</button>
            <button (click)="filter(6,'maths')" type="button" class="btn btn-light">Maths</button>
            <button (click)="filter(6,'evs')" type="button" class="btn btn-light">EVS</button>
            </div>
          </div>
        </div>
      </div>
      </div>


      <p></p>
    
      
     


