<<<<<<< HEAD
    * {
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
=======
* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

/* Float four columns side by side */
.column {
float: left;
width: 25%;
padding: 0 10px;
>>>>>>> 2f6e173737183d45879c1ca9e12cd2e0d299c18e
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
<<<<<<< HEAD
  width: 100%;
  display: block;
  margin-bottom: 20px;
=======
width: 100%;
display: block;
margin-bottom: 20px;
>>>>>>> 2f6e173737183d45879c1ca9e12cd2e0d299c18e
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
} 
