<div class="container">
    <hr style="display: inline-block;">

    <div class="text-center">
        <h4>Subject: </h4>

    </div>

    <h1>{{subject}}</h1><h2>{{grade}}</h2>
    <hr style="display: inline-block;">
    <div *ngFor="let lesson of lessons">

        <mat-card>
            <mat-card-header>
                <mat-card-title>{{lesson.name}}</mat-card-title>
                <mat-card-subtitle>{{lesson.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <button type="button" mat-raised-button color="primary"><a style="text-decoration: none; color: white;" target="_blank" [href]="lesson.fileURL">View</a></button>
                <button class="ml-2" mat-raised-button color="accent" (click)="showmodal(lesson.timestamp)" >Share</button>
                <!-- <button style=" border: #000; "  class="btn btn-outline-success my-2 my-sm-0" (click)="showmodal(lesson.timestamp)"  type="button"><i class="fa fa-whatsapp" style="font-size: 50px;" ></i>Share</button>
                <button style=" border: #000; "  class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fa fa-images" style="font-size: 50px;" ></i>  </button> -->
                <!-- <h6>Videos</h6>
                <button style=" border: #000; "  class="btn btn-outline-success my-2 my-sm-0" (click)="showmodal(lesson.fileURL)"  type="button"><i class="fa fa-whatsapp"  style="font-size: 50px;" ></i>Share</button>
                <button style=" border:#000; "  class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fa fa-images" style="font-size: 50px;" ></i>View</button> -->
            </mat-card-content>
        </mat-card>
        <!-- <div class="card hoverable">
            
            
            <div class="card-body">
                
            </div>
        </div> -->
    </div>
</div>

